{% assign product_details = product.metafields.custom.product_details %}

{% if product_details %}
<details
  class="product-details-extra"
  name="product-details-extra"
  aria-labelledby="product-details-extra-label"
  aria-describedby="product-details-extra-description"
>
  <summary id="product-details-extra-label">
    <span class="summary-span">{{ 'products.product.details' | t }}</span>
    <span class="chevron" aria-hidden="true">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
      </svg>
    </span>
  </summary>
  {% if product_details %}
    <div class="product-details-extra-description" id="product-details-description">
      <p>{{ product_details | metafield_tag  }}</p>
    </div>
  {% endif %}
</details>
{% endif %}

{% stylesheet %}
  .product-details-extra {
    border-bottom: 1px solid #1c1c1c;
    interpolate-size: allow-keywords;
    overflow: hidden;
    padding: 1rem 0;
    transition: color 0.2s ease-in-out;
    width: 100%;
  }

  .product-details-extra::details-content {
    block-size: 0;
    transition: block-size 0.2s, content-visibility 0.2s;
    transition-behavior: allow-discrete;
  }

  .product-details-extra[open]::details-content {
    block-size: auto;
  }

  .product-details-extra summary {
    display: flex;
    justify-content: space-between;
  }

  .product-details-extra summary .summary-span {
    font-size: 18px;
  }

  .product-details-extra summary .chevron {
    transition: all 0.2s ease-in-out;
  }

  .product-details-extra[open] summary .chevron {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.product_details",
  "tag": null,
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.product_details",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
