{% assign designed_for = product.metafields.custom.designed_for %}

{% if designed_for %}
<details
  class="product-designed-for"
  name="product-designed-for"
  aria-labelledby="designed-for-label"
  aria-describedby="designed-for-description"
>
  <summary id="designed-for-label">
    <span class="summary-span">{{ 'products.product.designed_for' | t }}</span>
    <span class="chevron" aria-hidden="true">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
      </svg>
    </span>
  </summary>
  {% if designed_for %}
    <div class="designed-for-tags" id="designed-for-description">
      {% for tag in designed_for.value %}
        <span class="designed-for-tag">{{ tag.taxonomy_reference }}</span>
      {% endfor %}
    </div>
  {% endif %}
</details>
{% endif %}

{% stylesheet %}
  .product-designed-for {
    border-bottom: 1px solid #1c1c1c;
    interpolate-size: allow-keywords;
    overflow: hidden;
    padding: 1rem 0;
    transition: color 0.2s ease-in-out;
    width: 100%;
  }

  .product-designed-for::details-content {
    block-size: 0;
    transition: block-size 0.2s, content-visibility 0.2s;
    transition-behavior: allow-discrete;
  }

  .product-designed-for[open]::details-content {
    block-size: auto;
  }

  .product-designed-for summary {
    display: flex;
    justify-content: space-between;
  }

  .product-designed-for summary .summary-span {
    font-size: 18px;
  }

  .product-designed-for summary .chevron {
    transition: all 0.2s ease-in-out;
  }

  .product-designed-for[open] summary .chevron {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .designed-for-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  .designed-for-tag {
    border: 1px solid #111111;
    color: #111111;
    border-radius: 8px;
    font-size: 1rem;
    padding: 4px 12px;
    white-space: nowrap;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.product_designed_for",
  "tag": null,
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.product_designed_for",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
