.bold {
  font-weight: bold;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.mega-menu {
  padding-block-start: 1.5rem;

  .mega-menu__link {
    font-size: var(--font-size--lg);
    &:hover {
      text-decoration: underline;
    }
  }
}

.language-selector {
  .localization-form__select {
    text-align: left;
  }
}

.quick-add {
  .quick-add__button {
    background-color: var(--color-primary-button-background);
    color: var(--color-primary-button-text);
  }
}

.policy_list li a:hover ,
.paragraph a:hover {
  text-decoration: underline;
}

.footer-utilities {
  a {
    &:hover {
      color: var(--button-color);
    }
  }
}